*__pycache__
*.ipynb_checkpoints
*.egg-info
.vscode
logdirs
.venv
.api_temp
excepted_birds.json
*xeno-canto-py*
notebooks/old_notebooks
all_xeno_canto_species.json
notebooks/chirp
notebooks/empty_some_space.ipynb
google_bird_predictions
pseudo